#lang_select {
  width:60px;
  float: right;
  margin-top: 10px;

}
#logo {
  width:150px;
  float: left;
  padding: 0px;
  margin-left: 30px;
  font-size: 20px;
  margin-top: 10px;
}
#container {
  overflow: hidden;
}
#user_info_logout {
  float:right;
  margin-top: 10px;
  margin-right: 55px;
  font-size: 14px;
}